@media (max-width: 1799px) {
  /* header*/

  .header__container {
    justify-content: space-between;
  }

  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    color: #000;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top:-3px;
  }

  .burger__line:nth-child(2) {
    top: 44%;
    transform: translateX(-50%) translateY(-50%);
  }

  .burger__line:nth-child(3) {
    bottom: 0;
  }

  .burger--active
  .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active
  .burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active {
    z-index: 10000;
  }

  .burger--active
  .burger__line:last-child {
    left: 25%;
    top: 50%;
    bottom: auto;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header__logo {
    margin: 0;
  }

  .header__wrap {
    justify-content: end;
    width: 36px;
  }

  .header__nav {
    position: absolute;
    left: 0;
    top: -14px;
    width: 420px;
    min-width: 250px;
    padding: 170px 50px 229px 84px;
    background-color: #fff;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 32px 32px;
    overflow-y: auto;
    visibility: hidden;
    z-index: 1000;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .header__nav .header__list {
    flex-direction: column;
  }

  .header__nav .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .header__nav .header__item-link {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
  }

  .header__search {
    width: max-content;
  }


  /* footer */

  .footer__wrap {
    justify-content: space-between;
  }

  .footer__left {
    margin: 0;
  }

  .footer__mid {
    margin: 0;
    width: 570px;
  }
}

@media (max-width: 1366px) {
  /* us */

  .us__wrap {
    display: block;
  }

  .us__half {
    width: 100%;
    height: 640px;
  }

  .us__left {
    margin-bottom: 32px;
  }
}

@media (max-width: 1280px) {
  .container {
    padding: 0 50px;
  }


  /* header */

  .header__nav {
    padding: 170px 50px 229px 60px;
  }

  .search-form {
  right: 0;
  }


  /* questions */

  .accordion__content {
    max-width: 800px;
  }


  /* footer */

  .footer__right {
    display: none;
  }
}

@media (max-width: 1024px) {
  /* header */

  .header {
    margin-bottom: 40px;
    padding: 26px 0;
  }

  .logo_img{
    width: 150px;
    height: 48px;
  }

  .search-form-active {
    top: -5px;
  }


  /* spec */

  .spec {
    margin-bottom: 35px;
  }

  .text__box {
    padding: 160px 77px;
  }

  .spec__title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .spec__text {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
    color: var(--white);
  }


  /* us */

  .us {
    margin-bottom: 67px;
  }

  .us__text {
    margin-bottom: 60px;
  }

  .us__right {
    padding: 68px 150px 65px 77px;
    min-height: 295px;
  }


  /* job */

  .job {
    margin-bottom: 81px;
  }

  .job__list {
    margin-bottom: 50px;
  }

  .job__text {
    margin-bottom: 23px;
  }

  .questions__title-third {
    max-width: 750px;
    font-size: 20px;
  }


  /* questions */

  .questions {
    margin-bottom: 76px;
  }

  .questions__descr-2 {
    padding: 30px 0;
  }

  .questions__descr-4 {
    padding: 30px 0;
  }

  .accordion__content {
    max-width: 700px;
  }

  /* footer */
  .footer {
    padding-bottom: 46px;
  }

  .footer__mid {
    width: 541px;
  }

  .form__input {
    width: 541px;
  }

  .form__textarea {
    width: 541px;
  }

  .footer__btn {
    padding: 19px 38px;
  }
}

@media (max-width: 950px) {
  /* spec */

  .spec__title {
    font-size: 50px;
    line-height: 61px;
  }

  .spec__text {
    font-size: 18px;
    line-height: 22px;
  }

  /* us */

  .us__right {
    padding: 35px 45px 35px 40px;
    min-height: 235px;
  }

  .right__top-img {
    padding-right: 16px;
  }

  .right__bot-img {
    padding-right: 16px;
  }


  /* job */

  .job {
    margin-bottom: 50px;
  }

  .job__list {
    justify-content: space-between;
  }

  .job__cards {
    flex-direction: column-reverse;
  }

  .job__half-img {
    height: 284px;
    border-radius: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .job__half-left {
    width: 100%;
    min-height: 100%;
  }

  .job__half-right {
    margin-bottom: 38px;
    width: 100%;
    min-height: 160px;
  }


  /* questions */

  .questions__title-third {
    max-width: 635px;
  }

  .accordion__content {
    max-width: 600px;
  }


  /* footer */

  .footer__left {
    display: none;
  }

  .footer__mid-bot {
    margin-bottom: 50px;
  }

  .footer__logo-mid {
    margin-bottom: 16px;
    display: block;
  }

  .footer__imgs-mid {
    display: block;
  }
}

@media (max-width: 768px) {
  /* header */

  .header {
    padding: 12px 0;
    height: 69px;
    border-radius: 0 0 24px 24px;
  }

  .header__nav {
    padding: 152px 50px 229px 60px;
  }


  /* spec */

  .swiper-slide {
    border-radius: 24px;
  }

  .text__box {
    padding: 160px 40px;
  }


  /* us */

  .us {
    margin-bottom: 81px;
  }

  .us__text {
    margin-bottom: 55px;
  }

  .us__half {
    height: 650px;
  }

  .us__left {
    border-radius: 24px;
  }

  .us__half-right {
    height: 100%;
  }

  .left__wrap {
    padding: 34px 40px;
    border-radius: 24px;
  }

  .left__wrap-text {
    width: 370px;
  }

  .us__right {
    border-radius: 24px;
  }

  .right__top-img {
    width: 129px;
    height: 99px;
  }

  .right__bot-img {
    width: 129px;
    height: 99px;
  }

  /* questions */

  .questions {
    margin-bottom: 108px;
  }

  .questions__title-third {
    max-width: 580px;
  }

  .questions__descr-3 {
    padding: 30px 0;
  }

  .questions__descr-5 {
    padding: 30px 0;
  }

  .accordion__content {
    max-width: 550px;
  }
}

@media (max-width: 730px) {
  /* header */

  .search-form-active {
    top: -8px;
  }


  /* questions */

  .questions__title-third {
    max-width: 500px;
  }

  .accordion__content {
    max-width: 450px;
  }
}

@media (max-width: 650px) {
  .second-title {
    font-size: 24px;
    line-height: 29px;
  }

  .text {
    font-size: 14px;
    line-height: 28px;
  }

  .btn {
    padding: 12px 44px;
    border-radius: 8px;
  }


  /* header */

  .search-form {
    padding: 21px 15px;
    width: 100%;
    border-radius: 0px 0px 24px 24px;
  }

  .search-form-active {
    top: -14px;
  }


  /* spec */

  .spec__wrap {
    text-align: center;
  }

  .text__box {
    padding: 60px 42px;
  }


  /* us */

  .us__title {
    font-size: 24px;
    line-height: 29px;
  }

  .us__text {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .us__left {
    height: 300px;
    margin-bottom: 8px;
    border-radius: 16px;
  }

  .left__wrap {
    display: none;
  }

  .us__adaptive {
    margin-bottom: 32px;
    display: block;
  }

  .adaptive__text {
    margin: 0;
    margin-bottom: 11px;
  }

  .us__right {
    padding: 0;
    border: none;
    display: block;
  }

  .right__top-img,
  .right__bot-img {
    margin-bottom: 12px;
  }

  .right__wrap {
    margin-bottom: 32px;
  }

  .right__title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
  }


  /* job */

  .job {
    margin-bottom: 60px;
  }

  .job__title {
    margin-bottom: 20px;
  }

  .job__list {
    margin-bottom: 16px;
  }

  .job__item:not(:last-child) {
    margin-right: 0;
  }

  .job__btn {
    font-size: 14px;
    line-height: 17px;
  }

  .job__half-right {
    margin-bottom: 16px;
  }

  .job__half-img {
    border-radius: 16px;
  }

  .job__title-third {
    font-size: 18px;
  }

  .job__text {
    margin-bottom: 25px;
  }

  .job__btn-left {
    font-size: 12px;
    line-height: 15px;
    height: 39px;
  }

  .job__btn-rignt {
    font-size: 12px;
    line-height: 15px;
    height: 39px;
    padding: 12px 39px;
    border-radius: 8px;
  }

  /* questions */

  .questions__title-third {
    max-width: 260px;
    font-size: 14px;
    line-height: 24px;
  }

  .accordion__content {
    max-width: 300px;
  }


  /* footer */

  .footer__wrap {
    text-align: center;
  }

  .footer__mid {
    width: 100%;
  }

  .form__input {
    width: 100%;
  }

  .form__textarea {
    width: 100%;
  }

  .footer__mid-bot {
    margin-bottom: 16px;
    display: block;
    height: 100px;
    border-bottom: 1px solid #414141;
  }

  .footer__btn {
    margin-right: 0;
  }

  .footer__check  {
    justify-content: center;
  }

  .footer__logo-mid {
    display: inline-block;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 15px;
  }

  /* header */

  .header {
    margin-bottom: 30px;
    padding: 14px 0;
    border-radius: 0 0 16px 16px;
  }

  .header__nav {
    width: 320px;
    padding: 78px 50px 101px 25px;
  }

  .header__nav .header__item-link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }


  .logo_img {
    width: 111px;
    height: 40px;
  }

  .search__wrap {
    padding: 16px 13px 16px 32px;
    position: absolute;
    right: 178px;
    top: 24px;
    width: 539px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    border-radius: 0 0 24px 24px;
    overflow-y: auto;
    visibility: hidden;
    transform: translateY(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .search-form__input {
    width: 70%;
  }


  /* spec */

  .spec {
    margin-bottom: 60px;
  }

  .swiper-slide {
    border-radius: 16px;
  }

  .text__box {
    padding: 60px 21px;
  }

  .spec__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
  }

  .spec__text {
    margin-bottom: 33px;
    font-size: 12px;
    line-height: 15px;
  }

  .spec__btn {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
  }


  /* us */

  .us {
    margin-bottom: 61px;
  }

  .us__left {
    height: 200px;
  }

  .right__title {
    font-weight: 500;
  }

  .us__adaptive {
    margin-bottom: 29px;
  }

  .right__top-img {
    display: none;
  }

  .right__bot-img {
    display: none;
  }

  .us__top-img {
    margin-bottom: 12px;
    display: block;
  }

  .us__bot-img {
    margin-bottom: 12px;
    display: block;
  }


  /* job */

  .job__list {
    margin-bottom: 12px;
  }

  .job__half-img {
    height: 200px;
  }

  .job__title-third {
    font-weight: 500;
  }

  .job__btn-left {
    margin-right: 6px;
  }

  .job__btn-rignt {
    padding: 12px 31px;
  }


  /* questions */

  .questions {
    margin-bottom: 59px;
  }

  .questions__title {
    margin-bottom: 16px;
  }

  .questions__descr {
    padding: 30px 0;
  }

  .questions__title-third {
    margin: 0;
    font-weight: 500;
    max-width: 245px
  }

  .questions__btn {
    margin-top: -18px;
  }

  .questions__btn svg {
    width: 30px;
    height: 30px;
  }

  .accordion__content {
    max-width: 300px;
  }


  /* footer */

  .footer {
    padding-top: 33px;
    padding-bottom: 17px;
  }

  .footer__title {
    margin-bottom: 20px;
    display: flex;
  }

  .footer__form {
    margin-bottom: 20px;
  }

  .form__input {
    padding: 14px 19px;
    font-size: 14px;
  }

  .form__textarea {
    padding: 20px 19px;
    font-size: 14px;
  }

  .footer__btn {
    padding: 13px 28px;
    font-size: 12px;
  }

  .footer__logo-mid {
    margin-bottom: 3px;
    width: 131px;
  }

  .footer__img:not(:last-child) {
    margin-right: 12px;
  }

  .img__btn {
    width: 40px;
  }
}

@media (max-width: 380px) {
  /* questions */

  .accordion__content {
    max-width: 240px;
  }
}

@media (max-width: 320px) {
  /* job */

  .job__half-img {
    min-height: 160px;
  }
}
